# Build clap-saw-demo

trigger:
  - main

pr:
  - main

jobs:

  - job: Build
    strategy:
      matrix:
        mac:
          imageName: 'macos-10.15'
          isMac: True
        win:
          imageName: 'windows-2019'
          isWindows: True
        lin:
          imageName: 'ubuntu-20.04'
          isLinux: True

    pool:
      vmImage: $(imageName)

    steps:
      - checkout: self
        fetchDepth: 1

      - bash: |
          git submodule update --init --recursive
          cmake -Bbuild -DCMAKE_BUILD_TYPE=Release
        displayName: Submodules and First Cmake

      - bash: |
          cmake --build build --target clap-saw-demo
        displayName: Build clap-saw-demo
